{% extends "_layout" %}

{% block content %}
	<div class="objectWrap">
		{% paginate craft.entries.section('objects').limit(24) as pageInfo, pageEntries %}
		{% for entry in pageEntries %}
			{% for block in entry.portLand %}
				{% if block.type == "portrait" %}
				<article class="{{ block.objectOrientation }} aos-item" data-aos="fade-up" data-aos-easing="ease-in-quad" data-aos-delay="200">
					{% if block.objectImage | length %}
					    {% for asset in block.objectImage %}
					        <img src="{{ asset.url('objectPortrait') }}" width="100%">
					    {% endfor %}
					{% endif %}
					<div class="objectInfo">
						<h3>{{ entry.title }}</h3>
						<p>{{ block.objectInformation }}</p>
						{% if entry.objectEnquire %}
						Enquire - <a href="mailto:{{ email.email }}?subject={{ entry.title }}">{{ email.email }}</a>
						{% else %}
						{%  endif %}
					</div>
				</article>
				{% elseif block.type == "landscape" %}
				<article class="{{ block.objectOrientation }} aos-item" data-aos="fade-up" data-aos-easing="ease-in-quad" data-aos-delay="200">
					{% if block.objectImage | length %}
					    {% for asset in block.objectImage %}
					        <img src="{{ asset.url('objectLandscape') }}" width="100%">
					    {% endfor %}
					{% endif %}
					<div class="objectInfo">
						<h3>{{ entry.title }}</h3>
						<p>{{ block.objectInformation }}</p>
						{% if entry.objectEnquire %}
						Enquire - <a href="mailto:{{ email.email }}?subject={{ entry.title }}">{{ email.email }}</a>
						{% else %}
						{%  endif %}
					</div>
				</article>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>

	{% if entry.generalEnquire %}
	<div class="row pre-footer">
		<div class="two columns">&nbsp;</div>
		<div class="nine columns">
		<h2>{{ entry.body }}</h2>
		<h2>Email - <a href="mailto:{{ email.email }}">{{ email.email }}</a></h2>
		</div>
		<div class="one columns">&nbsp;</div>
	</div>
	{% else %}
	<div class="row pre-footer">
		<div class="two columns">&nbsp;</div>
		<div class="nine columns">
		<h2>{{ entry.body }}</h2>
		</div>
		<div class="one columns">&nbsp;</div>
	</div>
	{%  endif %}
{% endblock %}
